.type-filter__drawer {
    .ant-drawer-header {
        padding: 40px 24px 27px;
    }
    .ant-drawer-body {
        padding-top: 0px;
    }
    .ant-drawer-title {
        font-size: 24px;
        font-weight: 700;
    }

    .ant-radio-group,
    .ant-space,
    .ant-space-item {
        width: 100%;
    }

    .ant-space-item {
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        padding-bottom: 13px;
    }

    .ant-radio-wrapper {
        gap: 12px;
    }
    .ant-radio-inner {
        width: 24px;
        height: 24px;
        border-color: var(--theme-primary-color);
    }

    .ant-radio-checked .ant-radio-inner {
        background-color: var(--theme-primary-color);
        border: none;
    }

    .ant-radio-checked .ant-radio-inner::before {
        position: absolute;
        left: 0px;
        top: 38%;
        height: 25%;
        width: 2px;
        background-color: var(--theme-light-color);
        content: '';
        transform: translateX(10px) rotate(-45deg);
        transform-origin: left bottom;
    }

    .ant-radio-checked .ant-radio-inner::after {
        position: absolute;
        left: 39%;
        top: 93%;
        height: 2px;
        width: 40%;
        background-color: var(--theme-light-color);
        content: '';
        transform: translateX(10px) rotate(-45deg);
        transform-origin: left bottom;
    }

    .ant-radio + span {
        font-size: 16px;
    }
    .type-filter__radio-wrapper {
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        padding-bottom: 12px;
    }
}
