// Add MavenPro font
$primary_custom_font: 'Maven Pro';
$theme_primary_font: $primary_custom_font, sans-serif;

$font_bold_url: 'https://d1497f43oc1snr.cloudfront.net/products/069dd5a4-5895-45b8-b7b1-21633fcaceb0.ttf';
$font_semibold_url: 'https://d1497f43oc1snr.cloudfront.net/products/ce2da16b-84cd-4b1f-9607-55bfb75cc2e1.ttf';
$font_regular_url: 'https://d1497f43oc1snr.cloudfront.net/products/fdb1a4a2-1164-4afc-864b-7afacbb9d903.ttf';
