.wheelPicker-scroll-wrapper {
    position: relative;
    width: 100%;
    font-size: 16px;
}

.wheelPicker-scroll-wrapper__area {
    position: absolute;
    border-style: solid;
    border-color: var(--theme-primary-color);
    border-width: 1px 0;
    width: 100%;
}

.wheelPicker-scroll-wrapper__list {
    &.open-scroll,
    .open-scroll {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        color: rgb(187, 187, 187);
        position: relative;
        perspective: 1000px;

        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }

    .scroll-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .wheel-item {
        background: rgb(249, 249, 249);
        border: 1px solid rgb(177, 177, 177);
    }

    .selected-time {
        font-weight: 700;
        transition: all 0.3s;
        color: var(--theme-dark-color);
    }
}
